//   color code 
$grey: #A5A5A5;
$low-grey: #F4F4F4;

$blue-grey: #455A64;
$low-blue: #0288D1;
$blue: #01579B;

$dark-blue: #0288D1;
$red: #F27272;
$orange : #F29877;

// buttons
.but-solid{
    background-color: $low-blue;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    outline: unset !important;
}

.but{
    color: black;
    border-radius: 8px;
    border: 1px solid $low-blue;
    background-color: white;
    font-size: 16px;
    outline: unset !important;
}


a{
    color: unset;
    &:hover{
        text-decoration: none;
    }
}

button{
    outline: none !important;
}

.container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
// has float overide 
.w-input-active{
    border: 1px solid #0288D1 !important;
}
.w-input{
    // margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #B9BBCB;
    box-sizing: border-box;
    border-radius: 9px;
    .has-float-label{
        width: 100%;
        height: 48px;
        input{
            height: 100%;
            width: 100%;
            background-color: inherit;
            padding: 0 20px;
            font-size: 14px;
            border: none;
    
            &::placeholder{
                opacity: 0;
            }
            
        }
        label{
            z-index: 5 !important;
            position: absolute;
            top: -8.6px;
            left: 15px;
            background-color: white;
            padding: 0 5px;
            font-size: 11px;
            color: #0288D1;
        }
    }
    i{
        margin: 0 15px;
    }
}

.has-float-label input:placeholder-shown:not(:focus)+*, .has-float-label select:placeholder-shown:not(:focus)+*, .has-float-label textarea:placeholder-shown:not(:focus)+* {
    font-size: 14px;
    opacity: 1;
    top: 0;
    background-color: unset;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A9A9A9;
}

// outline slick overide
.slick-slide, .slick-slide *{ outline: none !important; }

//REMOVE ARROW INPUT NUMBER
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@import './navbar';
@import './home';
@import './login_register';
@import './term';
@import './otp';
@import './selectform';
@import './allFormsStyle';
@import './footer.scss';
@import './ojk.scss';
@import './carohome.scss';
@import './benefit.scss';
@import './aboutus.scss';
@import './caroquotes.scss';
@import './joinnow.scss';
@import './how.scss';