 .benefit{
    .benefit-list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        box-shadow: 0px 0px 9px rgba(137, 137, 137, 0.25);
        .s-img{
            // flex: 1;
            width: 70%;
            height: 583px;
            object-fit: cover;
        }
        .parag{
            padding: 60px;
            .title{
                font-weight: 900;
                font-size: 55px;
                // line-height: 64px;
                color: #000000;
            }
            .desc{
                font-size: 16px;
                line-height: 30px;
                color: #333333;
            }
            ul{
                li{
                    list-style-type: none;
                    font-size: 16px;
                    line-height: 60px;
                    i{
                        margin-right: 30px;
                        color: #FFD700;
                    }
                }
            }
        }
    }

    .benefit-icons{
        padding: 40px 0;
        .box-ben{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .ben-img{
                margin-bottom: 28px;
                box-shadow: 0px 0px 9px rgba(137, 137, 137, 0.25);
                width: 101px;
                height: 101px;
                border-radius: 50%; 
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    // background: #FFFFFF;
                    object-fit: contain;
                    // padding: 20px;
                }     
            }
            .title{
                font-weight: 900;
                font-size: 20px;
                line-height: 23px;
                margin-bottom: 15px;
                
            }
            .desc{
                padding: 0 20px;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #757575;
            }
        }
    }

}