.home{
    height: 100vh;
    background-position: right ;
    background-repeat: no-repeat;
    // background-size: contain;
    background-size: 60%, 41%;
    position: relative;
    padding: 75px 0 120px;
    background-origin: padding-box;
    .contain-home{
        display: flex;
        padding: 75px 0 120px !important;
        align-items: center;
        height: 100%;
        .wrap{
            margin-top: 72px;
            .title{
                font-weight: 900;
                font-size: 70px;
                line-height: 50px;
                span{
                    font-size: 40px;
                }
            }
            .desc{
                max-width: 50%;
                font-weight: 300;
                font-size: 16px;
                line-height: 30px;
            }
            button{
                width: 205px;
                height: 52px;
                margin-right: 28px;
                margin-bottom: 38px;
            }
        }
    }

    .last-invest{
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        background-color: white;
        padding: 15px 0;
        position: absolute !important;
        width: 100%;
        bottom: 0;

        .card-last{
            // background-color: maroon;
            border-right: 1px solid #DEDEDE !important;
            display: flex !important;
            // width: 300px;
            justify-content: center;
            padding: 12px; 
            &:last-of-type{
                border-right: 0;
            }
            img{
                height: 38px;
                width: 38px;
                margin-right: 10px;
                border-radius: 5px;
                object-fit: cover;
            }
            .name{
                font-size: 16px;
                line-height: normal;
                width: 205px;
                color: $grey;
                margin-bottom: 0;
                font-weight: 300;
                span{
                    color: black;
                }
                .time{
                    margin-top: 5px;
                    margin-bottom: 0px ;
                    font-size: 12px;
                }
            }
        }
    }
}


.butraise{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .tit{
        font-weight: 900;
        font-size: 35px;
        margin-bottom: 10px;
    }
    .desc{
        display: flex;
        align-items: center;
        img{
            margin-right: 5px;
            font-size: 16px;
        }
    }
    button{
        width: 344px;
        height: 59px;
        font-weight: 900;
        font-size: 18px;
        background: #FFFFFF;
        border: 1px solid #4CB5EF;
        box-sizing: border-box;
        border-radius: 8px;
        filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.25));
    }
}