
.login, .signup{
    display: flex;
    min-height: 100vh;
    position: relative;
    background-color: white;
    background-position: left top;
    background-size: 45%;
    background-repeat: no-repeat;
    .logo{
        margin: 25px 0px;
        position: absolute;

    }
   
    .form-box{
        // width: 55%;
        // background-color: slateblue;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        // .error{
        //     height: 40px;
        // }
        .box-form{
            width: 520px;
            // background-color: tan;
            .well{
                font-weight: 900;
                font-size: 36px;
                line-height: 42px;
                text-align: center;
            }
            .well-desc{
                text-align: center;
                font-size: 18px;
                // line-height: 30px;
                font-weight: 300;
                margin-bottom: 50px;
                a{
                    font-weight: 900;
                    color: #4CB5EF;
                }
            }
            hr{
                margin: 0;
            }
            .lw{
                span{
                    background-color: white;
                    padding: 0 20px ;
                    position: relative;
                    top: -12px;
                    font-size: 14px;
                }
                text-align: center;
                margin-bottom: 20px;
            }
            .wrap-button{
                display: flex;
                justify-content: space-between;
                button{
                    width: 187.79px;
                    height: 48px;
                    left: 825px;
                    top: 306px;
                    background: #F4EEE8;
                    border-radius: 4px;
                    border: none;
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    img{
                        margin-left: 15px;
                        margin-right: 20px;
                    }
                }
            }
            .or{
                text-align: center;
                font-size: 14px;
                margin-bottom: 15px;
            }
            form{
                // .grp-inp{
                //     display: flex;
                //     justify-content: space-between;
                //     .w-inp{
                //         border: 1px solid rgba(36, 36, 36, 0.4);
                //         max-width: 215px;
                //         height: 48px;
                //         margin-bottom: 30px;
                //         display: flex;
                //         justify-content: center;
                //         align-items: center;
                //         border-radius: 4px;
                //         overflow: hidden;
                //         i{
                //             margin: 0 15px;
                //             color: rgba(36, 36, 36, 0.4);
                //         }
                //         input{
                //             border: none;
                //             padding: 0 15px;
                //             font-size: 14px;
                //             width: 100%;
                //             height: 100%;
                //             outline: none;
                //             font-weight: 300;
                //         }
                //     }
                // }
                // .w-inp{
                //     border: 1px solid rgba(36, 36, 36, 0.4);
                //     width: 100%;
                //     height: 48px;
                //     margin-bottom: 30px;
                //     display: flex;
                //     justify-content: center;
                //     align-items: center;
                //     border-radius: 4px;
                //     overflow: hidden;
                //     i{
                //         margin: 0 15px;
                //         color: rgba(36, 36, 36, 0.4);
                //     }
                //     input{
                //         border: none;
                //         padding: 0 15px;
                //         font-size: 14px;
                //         height: 100%;
                //         outline: none;
                //         font-weight: 300;
                //     }
                // }
                .w-forgot{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    .w-check{
                        display: flex;
                        align-items: center;
                        .cbox{
                            width: 23px;
                            height: 23px;
                            background: #F4F4F4;
                            border: 1px solid #0288D1;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 3px;
                        }
                        span{
                            margin-left: 20px;
                            font-size: 14px;
                        }
                    }
                    .forgot{
                        margin-bottom: 0;
                        font-size: 14px;
                        color: #01579B;
                    }
                }
                .but-login{
                    height: 48px;
                    background: #01579B;
                    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
                    border-radius: 4px;
                    border: none;
                    color: white;
                    width: 100%;
                    margin-bottom: 30px;
                    &:disabled{
                        background-color: slategray;
                    }
                }
                .box-err{
                    height: 40px;
                    .error{
                        font-size: 14px;
                        color: #E10000;
                        // background-color: skyblue;
                    }
                }
                .sign-up{
                    text-align: center;
                    font-size: 14px;
                    font-weight: 300;
                    margin-bottom: 0;
                    a{
                        color: #4CB5EF;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

.signup{
    .box-form{
        padding: 70px 0 !important;
        // background-color: skyblue;
    }
    .w-input{
        // margin-bottom: 40px;
        display: flex;
        .spoil{
            width: 50px;
            height: 48px;
            border-right: 1px solid #B9BBCB;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: skyblue;
        }
    }

    .phone-sp{
        .has-float-label input:placeholder-shown:not(:focus) + *{
            left: 15px !important;
        }

        label{
            left: -35px;
        }
    }

}

.over{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.65);
    .modal-confirm{
        position: relative;
        background-color: white;
        padding: 50px 70px 30px;
        border-radius: 35px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .title{
            font-weight: 500;
            font-size: 24px;
            line-height: 33px;
            text-align: center;
            color: #333333;
            margin-bottom: 20px;
        }
        .desc{
            font-size: 14px;
            width: 321px;
            line-height: 25px;
            text-align: center;
            color: #333333;
            margin-bottom: 50px;
            font-weight: 300;
        }
        .box{
            display: flex;
            margin-bottom: 70px;
            justify-content: space-around;
            width: 100%;
            .mailphone{
                font-weight: 600;
                font-size: 20px;
                display: flex;
                align-items: center;
                margin-right: 5px;
                &:last-of-type{
                    margin-right: 0;
                    margin-left: 5px;
                }
                img{
                    margin-right: 10px;
                }
            }
        }
        .but-all{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            p{
                margin-bottom: 0;
                font-weight: 600;
                font-size: 20px;
                color: #0288D1;
                margin: 0 30px;
                cursor: pointer;
            }
            button{
                width: 303px;
                height: 48px;
                font-weight: 600;
                font-size: 20px;
                color: #0288D1;
                border-radius: 9px;
                border: 1px solid #0288D1;
                background-color: white;
            }
        }
    }
}