nav{
    display: flex;
    height: 72px;
    // background-color: skyblue;
    width: 100%;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    .burger{
        cursor: pointer;    
    }
    .left{
        display: flex;
        align-items: center;
        img{
            // margin-left: 40px;
        }
        ul{
            margin: 0;
            padding: 0;
            li{
                display: inline;
                margin-left: 40px;
            }
        }
    }
    .right{
        ul{
            margin: 0;
            padding: 0;
            li{
                display: inline;
                margin-left: 40px;
                .nav-active{
                    color: #4CB5EF;
                }
                a{
                    &:hover{
                        color: #4CB5EF;
                    }
                }
                button{
                    width: 106px;
                    height: 42px;
                }
            }
        }
    }

}

.drop{
    position: fixed;
    height: 70px;
    left: 0;
    right: 0;
    background-color: #021F59;
    top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
    a,span{
        text-decoration-line: underline;
        color: #4CB5EF;
        cursor: pointer;
        margin-left: 20px;
    }

}