.selectform{
    display: flex;
    height: 100vh;
    background-position: left;
    background-size: cover;
    // background-position-y: -1px;
    background-repeat: no-repeat;
    background-size: 46.7%;
    .logo{
        margin: 25px 30px;
        position: absolute;
    }
    .box-con{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        .bglog{
            margin-top: 32px;
            position: absolute;
            top: 0;
            left: 0;
        }
        .box-select{
            text-align: center;
            // background-color: slateblue;
            width: 498px;
            height: 445px;
            img{
                margin-bottom: 45px;
            }
            .title{
                font-weight: 900;
                font-size: 36px;
                line-height: 42px;
                color: #000000;
                margin-bottom: 20px;
            }
            .desc{
                margin-bottom: 55px;
                font-size: 18px;
                line-height: 21px;
            }
            .wbut{
                display: flex;
                justify-content: space-between;
                button{
                    width: 243px;
                    height: 52px;
                    font-weight: 500;
                    font-size: 14px;
                }
                .inv{
                    background: #4CB5EF;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 8px;
                    border: none;
                    color: #FFFFFF;
                    margin-bottom: 30px;
                }
                .start{
                    background:white;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 8px;
                    border: 1px solid #4CB5EF;
                    color: black;
                    margin-bottom: 30px;
                }
            }
            .mid{
                width: 100%;
                margin-bottom: 0;
            }
            .atau{
                position: relative;
                top: -12.5px;
                background-color: white;
                padding: 0 20px;
                color: #A5A5A5;
                font-size: 14px;
                font-weight: 300;
            }
            .bfun{
                margin-top: 20px;
                width: 100%;
                height: 52px;
                background: #FFFFFF;
                border: 1px solid #A5A5A5;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                font-size: 14px;
                color: #A5A5A5;
                font-weight: 500;
            }
        }
    }
}
